<section id="about" class="about-container">
    <div class="section-square"></div>
    <h2>About Me</h2>
    <p class="body-text">
      I am a highly motivated, experienced and passionate mathematician with experience as an educator, able to work
        with a wide variety of people. I have an excellent academic record. I am self-starting, responsible, and able to
        work well independently and in groups. I am educated in university-level mathematics, physics, and education,
        and able to balance multiple responsibilities at once.
    </p>
    <p class="body-text">
      I have a master of science degree in mathematics from Purdue University. Broadly speaking, interests are in
        investigating deep neural networks and data science. Specifically, in my formal mathematical formation I have
        looked at the mathematical underpinnings, models, methodologies, and uses for deep learning. Additionally, have
        several years experience as a mathematics educator. I have received the competitive Purdue Mathematics
        Department’s Excellence in Teaching award. I enjoy mathematics, and I am very
        effective at problem-solving and at communicating mathematics with others. I have augmented my mathematical
        skills by completing the Python Data Professional Track at Treehouse, preparing me to take my mathematical
        knowledge into the workplace.
    </p>
    <a class="btn" href="#">Download my Resume</a>
</section>